In [ ]:
# san francisco union square 37.78787705725988, -122.40793386474012

In [ ]:
# Union Square, SF
# for website/api
# 37.7879, -122.4079

In [104]:
# Initial imports
import pandas as pd

# Import datetime for date handling
import datetime

In [54]:
# Load the crypto_data.csv dataset.
file_path ="Resources/era5_hrly_2000-2020_101.csv"
columns = ['time',
           'temperature_2m_degF', 
           'relativehumidity_2m_perc', 
           'rain_inch',
           'snowfall_cm', 
           'cloudcover_perc', 
           'windspeed_10m_mph',
           'winddirection_10m_deg']

raw_hrly_df1 = pd.read_csv(file_path, skiprows=4, names=columns)
raw_hrly_df1.head()

,time,temperature_2m_degF,relativehumidity_2m_perc,rain_inch,snowfall_cm,cloudcover_perc,windspeed_10m_mph,winddirection_10m_deg
0,2000-01-01T00:00,40.8,95,0.0,0.0,35,4.5,147.0
1,2000-01-01T01:00,40.5,95,0.0,0.0,42,5.1,146.0
2,2000-01-01T02:00,38.4,99,0.0,0.0,46,2.2,143.0
3,2000-01-01T03:00,42.2,94,0.0,0.0,63,2.5,117.0
4,2000-01-01T04:00,41.5,93,0.0,0.0,79,2.5,80.0

In [55]:
raw_hrly_df1.dtypes

time                         object
temperature_2m_degF         float64
relativehumidity_2m_perc      int64
rain_inch                   float64
snowfall_cm                 float64
cloudcover_perc               int64
windspeed_10m_mph           float64
winddirection_10m_deg       float64
dtype: object

In [56]:
raw_hrly_df1.columns

Index(['time', 'temperature_2m_degF', 'relativehumidity_2m_perc', 'rain_inch',
       'snowfall_cm', 'cloudcover_perc', 'windspeed_10m_mph',
       'winddirection_10m_deg'],
      dtype='object')

In [57]:
raw_hrly_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184104 entries, 0 to 184103
Data columns (total 8 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   time                      184104 non-null  object
 1   temperature_2m_degF       184104 non-null  float64
 2   relativehumidity_2m_perc  184104 non-null  int64
 3   rain_inch                 184104 non-null  float64
 4   snowfall_cm               184104 non-null  float64
 5   cloudcover_perc           184104 non-null  int64
 6   windspeed_10m_mph         184104 non-null  float64
 7   winddirection_10m_deg     184030 non-null  float64
dtypes: float64(5), int64(2), object(1)
memory usage: 11.2+ MB

In [58]:
raw_hrly_df1 [raw_hrly_df1["winddirection_10m_deg"].isna()]["windspeed_10m_mph"].sum()

0.0

In [59]:
raw_hrly_df1["winddirection_10m_deg"].describe()

count    184030.000000
mean        214.946759
std          77.429164
min           1.000000
25%         180.000000
50%         211.000000
75%         250.000000
max         360.000000
Name: winddirection_10m_deg, dtype: float64

In [66]:
raw_hrly_df1["winddirection_10m_deg"].fillna(0, inplace=True)

In [69]:
raw_hrly_df1.describe()

,temperature_2m_degF,relativehumidity_2m_perc,rain_inch,snowfall_cm,cloudcover_perc,windspeed_10m_mph,winddirection_10m_deg
count,184104.000000,184104.000000,184104.000000,184104.000000,184104.000000,184104.000000,184104.000000
mean,62.685529,60.031107,0.002539,0.000006,24.462673,5.317476,214.860362
std,13.893239,22.489070,0.013077,0.000937,32.715640,3.088230,77.533407
min,24.200000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,52.700000,42.000000,0.000000,0.000000,0.000000,3.100000,180.000000
50%,60.900000,62.000000,0.000000,0.000000,6.000000,4.800000,211.000000
75%,71.400000,80.000000,0.000000,0.000000,36.000000,7.000000,250.000000
max,110.600000,100.000000,0.437000,0.210000,100.000000,31.100000,360.000000

In [68]:
raw_hrly_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184104 entries, 0 to 184103
Data columns (total 8 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   time                      184104 non-null  object
 1   temperature_2m_degF       184104 non-null  float64
 2   relativehumidity_2m_perc  184104 non-null  int64
 3   rain_inch                 184104 non-null  float64
 4   snowfall_cm               184104 non-null  float64
 5   cloudcover_perc           184104 non-null  int64
 6   windspeed_10m_mph         184104 non-null  float64
 7   winddirection_10m_deg     184104 non-null  float64
dtypes: float64(5), int64(2), object(1)
memory usage: 11.2+ MB

In [70]:
raw_hrly_df1["time"]

0         2000-01-01T00:00
1         2000-01-01T01:00
2         2000-01-01T02:00
3         2000-01-01T03:00
4         2000-01-01T04:00
                ...
184099    2020-12-31T19:00
184100    2020-12-31T20:00
184101    2020-12-31T21:00
184102    2020-12-31T22:00
184103    2020-12-31T23:00
Name: time, Length: 184104, dtype: object

In [79]:
date_convert = [('month', 5, 7), ('day', 8, 10), ('hour', 11, 13), ]

for code in date_convert:
    raw_hrly_df1[code[0]] = pd.to_numeric(raw_hrly_df1['time'].map(lambda x: x[code[1]:code[2]]))

In [105]:
raw_hrly_df1["time_new"] = raw_hrly_df1['time'].map(lambda x: datetime.datetime.fromisoformat(x))

In [106]:
raw_hrly_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184104 entries, 0 to 184103
Data columns (total 12 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   time                      184104 non-null  object
 1   temperature_2m_degF       184104 non-null  float64
 2   relativehumidity_2m_perc  184104 non-null  int64
 3   rain_inch                 184104 non-null  float64
 4   snowfall_cm               184104 non-null  float64
 5   cloudcover_perc           184104 non-null  int64
 6   windspeed_10m_mph         184104 non-null  float64
 7   winddirection_10m_deg     184104 non-null  float64
 8   month                     184104 non-null  int64
 9   day                       184104 non-null  int64
 10  hour                      184104 non-null  int64
 11  time_new                  184104 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(5), object(1)
memory usage: 16.9+ MB

In [107]:
raw_hrly_df1.head()

,time,temperature_2m_degF,relativehumidity_2m_perc,rain_inch,snowfall_cm,cloudcover_perc,windspeed_10m_mph,winddirection_10m_deg,month,day,hour,time_new
0,2000-01-01T00:00,40.8,95,0.0,0.0,35,4.5,147.0,1,1,0,2000-01-01 00:00:00
1,2000-01-01T01:00,40.5,95,0.0,0.0,42,5.1,146.0,1,1,1,2000-01-01 01:00:00
2,2000-01-01T02:00,38.4,99,0.0,0.0,46,2.2,143.0,1,1,2,2000-01-01 02:00:00
3,2000-01-01T03:00,42.2,94,0.0,0.0,63,2.5,117.0,1,1,3,2000-01-01 03:00:00
4,2000-01-01T04:00,41.5,93,0.0,0.0,79,2.5,80.0,1,1,4,2000-01-01 04:00:00

In [108]:
def day_of_year(x):
    return (x - datetime.datetime(x.year, 1, 1)).days + 1

In [109]:
raw_hrly_df1["day_of_year"] = raw_hrly_df1['time_new'].map(lambda x: day_of_year(x))

In [111]:
raw_hrly_df1["hour_of_day"] = raw_hrly_df1['time_new'].map(lambda x: (x.hour))

In [112]:
raw_hrly_df1.describe()

,temperature_2m_degF,relativehumidity_2m_perc,rain_inch,snowfall_cm,cloudcover_perc,windspeed_10m_mph,winddirection_10m_deg,month,day,hour,day_of_year,hour_of_day
count,184104.000000,184104.000000,184104.000000,184104.000000,184104.000000,184104.000000,184104.000000,184104.000000,184104.000000,184104.000000,184104.000000,184104.000000
mean,62.685529,60.031107,0.002539,0.000006,24.462673,5.317476,214.860362,6.522487,15.730935,11.500000,183.143136,11.500000
std,13.893239,22.489070,0.013077,0.000937,32.715640,3.088230,77.533407,3.448834,8.800664,6.922205,105.449278,6.922205
min,24.200000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000
25%,52.700000,42.000000,0.000000,0.000000,0.000000,3.100000,180.000000,4.000000,8.000000,5.750000,92.000000,5.750000
50%,60.900000,62.000000,0.000000,0.000000,6.000000,4.800000,211.000000,7.000000,16.000000,11.500000,183.000000,11.500000
75%,71.400000,80.000000,0.000000,0.000000,36.000000,7.000000,250.000000,10.000000,23.000000,17.250000,274.000000,17.250000
max,110.600000,100.000000,0.437000,0.210000,100.000000,31.100000,360.000000,12.000000,31.000000,23.000000,366.000000,23.000000

In [103]:
day_of_year

60

In [81]:
raw_hrly_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184104 entries, 0 to 184103
Data columns (total 11 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   time                      184104 non-null  object
 1   temperature_2m_degF       184104 non-null  float64
 2   relativehumidity_2m_perc  184104 non-null  int64
 3   rain_inch                 184104 non-null  float64
 4   snowfall_cm               184104 non-null  float64
 5   cloudcover_perc           184104 non-null  int64
 6   windspeed_10m_mph         184104 non-null  float64
 7   winddirection_10m_deg     184104 non-null  float64
 8   month                     184104 non-null  int64
 9   day                       184104 non-null  int64
 10  hour                      184104 non-null  int64
dtypes: float64(5), int64(5), object(1)
memory usage: 15.5+ MB

In [101]:

# bob = "2008-02-29T19:00"
# joe = datetime.datetime.fromisoformat(bob)

2454526.2916666665